html {
    box-sizing: border-box;
  }
  *,  *::before,  *::after {
    box-sizing: inherit;
  }

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    max-width: 80rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.navigation-section {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 7rem;
}

.navigation-section ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.hero-section {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 7rem;
}
.hero-text {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
}

button {
    flex: 0 0 auto;
    padding: .5rem 1rem;
}

.hero-image img {
    width: 350px;
    height: 200px;
    background-color: #fff;
}

.footer-section {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.showcase-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 3rem 7rem 4rem 7rem;
}

.showcase-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.showcase-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showcase-item p {
    width: 10rem;
    text-align: center;
}

.showcase-section h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.showcase-item img{
    height: 150px;
    width: 150px;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-text p,
.navigation-section li {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9F1F8;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border: solid;
    border-width: 2px;
    border-radius: 7px;
}

.call-to-action-body {
    background-color: #3882F6;
    margin: 4rem 7rem;
    padding: 2rem 7rem;
    border-radius: 8px;
}

.testimonial-section {
    display: flex;
    padding: 4rem 15rem;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}